/* reset default styles */



header {
font-family: "Cabin"; 
}

body {

}

.pageHeader > h2 {
  font-family: "Cabin";
}

ul {
  
  list-style: none;
  padding-left: 0;
}

/* cards container */
.charContainer {
  font-family: "Oswald";
  /* display: grid; */
  /*grid-template-columns: repeat(5, 280px);  */
  /*grid-template-columns: 280px 280px 280px 280px 280px; */
/* grid-template-columns: repeat(auto-fit, minmax(280px,1fr)); */
  /*displays the flexbox */
  display: flex; 
  /*each column takes up an equal amount of space */
  /*flex: 1;  */
  /*wraps content to next line */
  flex-wrap: wrap;

  /*content is set to be in a row */
  flex-direction: row;


}

/* character card container */
.charCard {
  background-color:white;
  border: 1px solid rgb(0, 0, 0);
  margin: 0;
  /* width: 280px; */

    /*first property - grow: determines how much a flex item grows to fill space*/
  /*second property - shrink: determines how much a flex item will shrink below its flex-basis */
  /*third property - flex-basis: default size of the item */
  /*flex: 0 0 calc(20% - 16px);   */
  flex: 0 0 280px; 
}

/* character card header */
.charHeadContainer {
  display: flex;
  flex-direction: row;
  /*align-items: space-around; */
  justify-content: center;
  gap: 2px;
}

/* .charHeadContainer div {
  width: 100%;
  
} */


.charHeadContainer h2 {
  margin-bottom: 0;
  
}

.charHeadContainer .favIcon {

}

/* character additional details - films */
.charAddlDetail {
  margin-top: 0;
  margin-bottom: 0;
}

.charFilmsList {
  margin-top: 0;
}

.charFilm {
  margin-left: 0.5rem;
}

.charDetailsList{
  display: flex;
  flex-direction: column;

}

.charDetailsList li{ 

  margin:4px;
}

.primaryButton{
font-family: "Oswald";
}

.secondaryButton{
  font-family: "Oswald";

}

/* Media queries 

  /*between 0px and 768px*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .charCard {
    
    
    /*flex: 0 0 calc(50% - 16px); */
    flex: 0 0 280px;
  }
 
}

/*between 769px and 1024px */
 @media only screen and (min-width: 769px) and (max-width: 1024px) {
  .charCard {
    
    /*flex: 0 0 calc(33% - 16px);  */
    flex: 0 0 280px;
  }

  

 }